<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BrokenLinkCheckerSuite" parallel="methods" thread-count="3">
    <test name="BrokenLinkCheckerTest">
        <classes>
            <class name="com.qa.linkchecker.tests.BrokenLinkCheckerTest"/>
        </classes>
    </test>
</suite>
